Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [6]:
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

In [8]:
location.send_keys('Banglore')

In [9]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [22]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [23]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
2,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs
3,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
5,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
6,Data Analyst - Python/Artificial Intelligence,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",iMindYourBusiness,0-2 Yrs
7,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
8,Data Analyst,"Ahmedabad, Bangalore/Bengaluru",milestone internet marketing pvt ltd,2-7 Yrs
9,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs

2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [25]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [26]:
driver.get("https://www.naukri.com/")

In [27]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [28]:
designation.send_keys('Data Scientist')

In [29]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

In [30]:
location.send_keys('Banglore')

In [31]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [33]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [35]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

In [36]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [37]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [38]:
df=pd.DataFrame({'Job Titles':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Titles,Job Location,Company Name,Experience Required
0,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
1,Senior Manager - EmTech - Machine Learning - P&T,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC,5-12 Yrs
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
6,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-20 Yrs
7,Data Scientist Python,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Conduent,3-7 Yrs
8,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
9,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company name, experience required. The location filter to be       used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [47]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [48]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [49]:
driver.get("https://www.naukri.com/")

In [50]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [51]:
designation.send_keys("Data scientist")

In [52]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [53]:
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
location_delhi.click()

In [54]:
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_filter.click()

In [55]:
job_title=[]
job_location=[]
company_name=[]
experience_Required=[]

In [56]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in title[0:10]:
        job_title.append(i.text)
    location=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']//span")
    for i in location[0:10]:
        job_location.append(i.text)    
    company=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in company[0:10]:
        company_name.append(i.text)
    experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
    for i in experience[0:10]:
        experience_Required.append(i.text)       
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [57]:
print(len(job_title),len(job_location),len(company_name),len(experience_Required))

10 10 10 10

In [58]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_Bame':company_name,'Experience_Required':experience_Required})
df

,Job_title,Job_location,Company_Bame,Experience_Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
4,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
5,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
6,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru",Big Seo Buzz,2-7 Yrs
7,Data Scientist,(WFH during Covid),Mount Talent Consulting Private Limited,2-4 Yrs
8,Data Scientist / Chat-bot Developer,"Delhi / NCR, Pune, Bangalore/Bengaluru",Big Seo Buzz,3-7 Yrs
9,Data Scientist For Healthcare Product team,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",SECUREKLOUD TECHNOLOGIES,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand
2. Product Description
3. Price

In [59]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [60]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [61]:
driver.get('https://www.flipkart.com/')

In [62]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")

In [63]:
sunglasses.send_keys('sunglasses')

In [64]:
pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

In [65]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [66]:
brand=[]
prod_desciption=[]
price=[]
time.sleep(3)

In [67]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in Product_desc[0:100]:
        prod_desciption.append(i.text)    
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [68]:
print(len(brand),len(prod_desciption),len(price))

120 120 120

In [69]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':prod_desciption,'Price':price})
df

              Brand                                          Prod_desc   Price
0    fashion stsyle         UV Protection Retro Square Sunglasses (55)    ₹351
1     VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...    ₹949
2          Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
3            PIRASO          UV Protection Rectangular Sunglasses (52)    ₹252
4         New Specs          UV Protection Oval Sunglasses (Free Size)    ₹207
..              ...                                                ...     ...
115   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,415
116       Rich Club                  Gradient Wayfarer Sunglasses (52)    ₹299
117  kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...    ₹269
118        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹639
119   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹949

[120 rows x 3 columns]

5.Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

In [70]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [71]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [72]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [73]:
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [74]:
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [76]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [77]:
df=pd.DataFrame({'Rating':stars,'Review_summary':short_review,'Full_summary':complete_review})
df

,Rating,Review_summary,Full_summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Excellent,Just go for it.\nThis phone is really amazing....
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Best in the market!,Don’t expect much from front camera… especiall...
98,5,Super!,This is my first ever iPhone.\nAnd I truly don...
99,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...

6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [78]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [79]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [80]:
driver.get("https://www.flipkart.com/")

In [81]:
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [82]:
brand=[]
description=[]
price=[]

In [83]:
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [85]:
print(len(brand),len(description),len(price))

160 160 160

In [86]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':description,'Price':price})
df

         Brand                                          Prod_desc   Price
0       DXMODA  Stylish And Trendy Casual Sneakers For Men Sne...    ₹699
1        Detok  Light Weight Gym Shoe |Tracking Shoe| Running ...    ₹419
2         aadi  Mesh | Ultralightweight | Comfortable | Breath...    ₹374
3    Deals4you                                 Sneakers For Women    ₹373
4         PUMA             Puma Smash Wns v2 L Sneakers For Women  ₹1,542
..         ...                                                ...     ...
155     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹470
156   Magnolia                    White Sneakers Sneakers For Men    ₹332
157     VENDOZ         Casual Stylish Trending Sneakers For Women    ₹499
158       PUMA                 Softride Enzo NXT Sneakers For Men  ₹3,354
159     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹366

[160 rows x 3 columns]

8.Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
 After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop: 
 1. Title
 2. Ratings 
 3. Price

In [87]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [88]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [89]:
driver.get("https://www.amazon.in/")

In [90]:
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [91]:
cpu_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div")
cpu_filter1.click()

In [92]:
Title=[]
price=[]
Rating=[]

In [93]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)

In [94]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [95]:
print(len(Title),len(price),len(rating))

10 10 10

In [96]:
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':rating})
df

                                               Title   Price Ratings
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  56,990     3.6
1  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...  62,990     3.9
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  89,990     4.2
3  (Renewed) ASUS Vivobook 15, 15.6-inch (39.62 c...  40,954     4.1
4  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  82,400     5.0
5  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...  43,198     3.6
6  (Renewed) Dell Latitude E7470 Intel Core i7 6t...  38,705     4.0
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  87,990     2.8
8  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...  59,990     5.0
9  Lenovo IdeaPad Gaming3 Laptop Intel i7 10th Ge...  65,588     3.8


Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [103]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [104]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [105]:
driver.get("https://www.ambitionbox.com/")

In [106]:
job_button=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
job_button.click()

In [ ]:
designation=driver.find_element(By.XPATH,"//input[@class='input tt-input']")
designation.send_keys('Data Scientist')

search=driver.find_element(By.XPATH,"//button[@class='ab_btn search-btn round']")
search.click()

location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location.click()

noida_loc=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
noida_loc.click()

In [108]:
job_title=[]
company=[]
days_ago=[]

In [109]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[@class='title noclick']")
    for i in title[0:10]:
        job_title.append(i.text)
    Compny=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
    for i in Compny[0:10]:
        company.append(i.text)    

     
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [110]:
no_of_days=driver.find_elements(By.XPATH,"//div[@class='other-info']/span")
for i in no_of_days[:]:
     days_ago.append(i.text.split()[0])
#Extracting every 3rd item from the list starting from index 0
days_posted=days_ago[0::3]

In [111]:
print(len(job_title),len(company),len(days_posted))

10 10 10

In [112]:
df=pd.DataFrame({'Title':job_title,'Company':company,'Job_Posted':days_posted})
df

,Title,Company,Job_Posted
0,Senior Data Scientist,SAP Labs India Pvt. Ltd.,1hr
1,Staff Data Scientist (Operations Research),Walmart Labs,6hr
2,Principal Data Scientist,Walmart Labs,6hr
3,Senior Data Scientist,Walmart Labs,6hr
4,Hiring For Data Analyst / Data Scientist,PEPSICO GLOBAL BUSINESS SERVICES INDIA LLP,6hr
5,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd,6d
6,Weather and Climate Data Scientist,Shell India Markets Private Limited,1d
7,Data Scientist,Shell India Markets Private Limited,1d
8,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services India Private Limited.,1d
9,AVP / VP Data Scientist (Model Validation),J.P. Morgan Services India Private Limited,6d

10.Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [115]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [116]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [117]:
driver.get("https://www.ambitionbox.com/")

In [118]:
salary_button=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]")
salary_button.click()

salary_tag=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p")
salary_tag.click()

In [119]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [121]:
tag=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
tag.click()

In [122]:
company=[]
total_salary = []
avg_Sal=[]
min_Sal=[]
max_Sal=[]
experience=[]

In [123]:
start=0
end=1
for page in range(start,end):
    company_tags =driver.find_elements(By.CLASS_NAME,'company-info')[:10]
    for i in company_tags:
         company.append(i.text.split('\n')[0])     
    total_tags = driver.find_elements(By.CLASS_NAME,'datapoints')
    for x in total_tags:
         total_salary.append(x.text.split(' ')[2])    
    avg_salary=driver.find_elements(By.XPATH,'//div[@class="average-indicator-wrapper"]')
    for i in avg_salary[0:10]:
        avg_Sal.append(i.text)
    minimum_sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in minimum_sal[0:10]:
        min_Sal.append(i.text)  
    maximum_Sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in maximum_Sal[0:10]:
        max_Sal.append(i.text)  
    exp_tags = driver.find_elements(By.CLASS_NAME,'sbold-list-header')[:10]
    for y in exp_tags:
        experience.append(y.text.split(' ')[0])

In [124]:
print(len(company),len(total_salary),len(avg_Sal),len(min_Sal),len(max_Sal),len(experience))

10 10 10 10 10 10

In [125]:
df=pd.DataFrame({'Company':company,'Total_Sal_Record':total_salary,'Avg_Sal':avg_Sal,'Min_Sal':min_Sal,'Max_Sal':max_Sal,'Experience':experience})
df

,Company,Total_Sal_Record,Avg_Sal,Min_Sal,Max_Sal,Experience
0,Google,51,₹ 34.0L,₹ 11.7L,₹ 11.7L,Software
1,Microsoft Corporation,334,₹ 23.6L,₹ 97.0L,₹ 97.0L,1-4
2,Goldman Sachs,36,₹ 22.9L,₹ 13.0L,₹ 13.0L,1-4
3,Amazon,133,₹ 21.2L,₹ 50.0L,₹ 50.0L,1-2
4,Servicenow Software Development India,71,₹ 20.7L,₹ 12.0L,₹ 12.0L,1-4
5,Tekion,41,₹ 20.6L,₹ 34.0L,₹ 34.0L,2-4
6,Walmart,105,₹ 20.1L,₹ 8.7L,₹ 8.7L,2-4
7,PayPal,29,₹ 19.6L,₹ 45.0L,₹ 45.0L,1-4
8,Arista Networks,56,₹ 19.4L,₹ 14.0L,₹ 14.0L,1-2
9,Arcesium,68,₹ 19.3L,₹ 30.0L,₹ 30.0L,1-4