# Web Scraping Assignment: 4

In [1]:
#importing libraries

In [39]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details: 

A) Rank

B) Name

C) Artist

D) Upload date 

E) Views

In [46]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [47]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

#Creating empty list for storing data after scarping.

In [49]:
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [50]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [52]:
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('Most Viewed Video on YouTube from Wikipedia :')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.30,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.97,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.45,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.80,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.63,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.60,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.87,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.68,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.61,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.54,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.34,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.06,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.75,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.65,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.64,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.58,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.50,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.49,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.36,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.34,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.29,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.26,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.25,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.24,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.20,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.15,"January 26, 2018"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

In [55]:
import time

In [56]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [57]:
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [59]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [63]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

    
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
2,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Greenfield International Stadium,",28 SEP 2022,7:30 PM

# 3.Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [255]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [256]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [257]:
# get webpage
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [258]:
# Selecting Selenium option from website
Selenium=driver.find_element(By.XPATH,'//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
try:
    Selenium.click()
except ElementNotInteractableException:
    driver.get(Selenium.get_attribute('href'))

In [259]:
# Selecting Selenium Exception handling option from website
Selenium_Exception=driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    Selenium_Exception.click()
except ElementNotInteractableException:
    driver.get(Selenium_Exception.get_attribute('href'))

In [260]:
# Creating Empty list
Name =[]
Description=[]

try:
    name=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p[1]/strong')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
    
# Extracting Description via Xpath
try:
    description=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p[1]')
    for i in description:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('NA')

In [262]:
len(Name),len(Description)

(1, 1)

In [263]:
Exception=pd.DataFrame({'Exception Type':Name,'Description':Description})
Exception

,Exception Type,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

# 4.Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [267]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [268]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [269]:
time.sleep(1)

In [108]:
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [109]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [110]:
# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [111]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [112]:
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5.Scrape the details of trending repositories on Github.com. Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description 

C) Contributors count

D) Language used

In [118]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [119]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [120]:
# Opening Github webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

# 6.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [169]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [271]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [272]:
# Opening Wikipedia webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [273]:
# Opening Wikipedia webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [274]:
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [275]:
# Clicking on hot 100 option
hot_100=driver.find_element(By.XPATH,'//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[2]/a"}
  (Session info: chrome=105.0.5195.125)
Stacktrace:
0   chromedriver                        0x0000000104ce6ae0 chromedriver + 3828448
1   chromedriver                        0x0000000104c7bf1c chromedriver + 3391260
2   chromedriver                        0x0000000104974fcc chromedriver + 217036
3   chromedriver                        0x00000001049a4b7c chromedriver + 412540
4   chromedriver                        0x00000001049cdb2c chromedriver + 580396
5   chromedriver                        0x000000010499a010 chromedriver + 368656
6   chromedriver                        0x0000000104cbc39c chromedriver + 3654556
7   chromedriver                        0x0000000104cbfc4c chromedriver + 3669068
8   chromedriver                        0x0000000104cc414c chromedriver + 3686732
9   chromedriver                        0x0000000104cc0654 chromedriver + 3671636
10  chromedriver                        0x0000000104c9eb40 chromedriver + 3533632
11  chromedriver                        0x0000000104cd8414 chromedriver + 3769364
12  chromedriver                        0x0000000104cd8578 chromedriver + 3769720
13  chromedriver                        0x0000000104ced0f0 chromedriver + 3854576
14  libsystem_pthread.dylib             0x00000001a3a9426c _pthread_start + 148
15  libsystem_pthread.dylib             0x00000001a3a8f08c thread_start + 8

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [191]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [192]:
driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [193]:
# Clicking on recuriters option
recruiters=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[2]/nav/ul/li[2]/a")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

In [197]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [204]:
# Scraping  Name
try:
    name=driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/div/a[1]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

    # Scraping Designation
try:
    designation=driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/a')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')
    
# Scraping Company
try:
    company=driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/div/a[1]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')
# Scraping skill for they hire
    skill=driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[2]/div[2]/article[1]/div[2]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')

#locatin
try:
    location=driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[2]/div[2]/article[2]/div[1]/div[1]/ul/li[3]/span')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

In [205]:
len(Name),len(Designation),len(Company),len(Skill),len(Location)

(1, 1, 1, 0, 2)

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [207]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [208]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [209]:
# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [210]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [211]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [212]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time 

E) Ratings 

F) Votes

In [213]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [214]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [215]:
# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [216]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [217]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [218]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,529"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,398"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,322"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,839"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,409"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,561"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,565"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,789"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,022"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,460"

# 10.Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name 

B) Data type

C) Task

D) Attribute type 

E) No of instances 

F) No of attribute G) Year

In [219]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [220]:
driver=webdriver.Chrome(r"/Users/pratyushraj/Desktop/chromedriver")

In [221]:
# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [222]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [223]:
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [224]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|█████████████████████████████████████████| 622/622 [01:57<00:00,  5.30it/s]

In [225]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(622, 622, 622, 622, 622, 622)

In [226]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021